/* Add custom styles to enhance the chat UI */
#chatHistory div {
    margin-bottom: 8px;
}

#sendMessageButton:hover {
    background-color: #1F2937;
}

.popup-container {
    width: 350px; /* Adjust the width as needed */
    height: 600px; /* Adjust the height as needed */
}

body {
    background: linear-gradient(to bottom, #e4edf3, #b8ddef); /* Light blue gradient */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
